<!DOCTYPE html>
<html>
<head>
<title>Treinamento</title>
<link rel="icon" href="https://w7.pngwing.com/pngs/391/387/png-transparent-training-computer-icons-education-skill-trainning-logo-business-user.png" type="image/png"/>
</head>
<body>
    <h1>centro de treinamento do {{Uname}}</h1>
    <form method="post" action="/trenamento" >
     <label for="fname">
      treino
     </label>
      <input type="text" id="fname" name="treino" ><br><br><br>
    </form>
    <button type="submit" >enviar</button>
    
    
    
    
    
    </body>







































</html>